PORT=3000
IS_DEBUG=false

DATABASE_URL="postgresql://username:passh@localhost:5435/blog?schema=public"

# JWT
JWT_ACCESS_SECRET="
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="
JWT_REFRESH_EXPIRES_IN="7d"

# docker
POSTGRES_USER=root
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_DB=blog